<div class="admin-container">
  <h1>Gerenciamento da Pizzaria</h1>

  <div class="pizza-card">
    <h2>{{ isEditing ? 'Editar Pizza' : 'Criar Pizza' }}</h2>

    <!-- //formulario de criação da pizza nome/ingredientes -->
    <form (ngSubmit)="onSubmit()" #pizzaForm="ngForm">
      <div>
        <label for="name">Nome da Pizza</label>
        <input type="text" id="name" [(ngModel)]="newPizza.name" name="name" placeholder="Digite o nome da pizza"
          required>
      </div>
      <div>
        <label for="ingredients">Ingredientes</label>
        <select id="ingredients" [(ngModel)]="selectedIngredient" name="selectedIngredient" (change)="addIngredient()">
          <option *ngFor="let ingredient of ingredients()" [value]="ingredient.name"
            [disabled]="isIngredientSelected(ingredient)"> <!-- //verifica se o ingrediente já foi selecionado e desabilita -->
            {{ ingredient.name }}
          </option>
        </select>
      </div>

      <div class="selected-ingredients">
        <h3>Ingredientes Selecionados:</h3>
        <div class="ingredients-list">
          <span *ngFor="let ingredient of newPizza.ingredients">
            {{ ingredient.name }}
            <!-- // botão para remover o ingrediente chama a função removeIngredient-->
            <button type="button" (click)="removeIngredient(ingredient)">X</button>
          </span>
        </div>
      </div>
      <button type="submit">{{ isEditing ? 'Atualizar' : 'Criar' }} Pizza</button>
      <!-- botão que envia o form baseado no isEditing -->

      <button *ngIf="isEditing" type="button" (click)="deletePizza(newPizza.id)">Apagar essa Pizza</button>
      <!-- apaga o card se isEditing for true -->
    </form>
  </div>

  <div class="pizza-cards-container">
    <div class="pizza-card" *ngFor="let pizza of pizzas()">
      <img
        src="https://img.freepik.com/vetores-gratis/cute-pizza-super-hero-vector-de-desenho-animado-icon-ilustracao-de-comida-icon-de-ferias-vector-plano-isolado_138676-12786.jpg"
        alt="Imagem da Pizza" class="pizza-card__image">
      <div class="pizza-card__content">
        <h3 class="pizza-card__name">{{ pizza.name }}</h3>
        <p class="pizza-card__ingredients">{{ getIngredientsList(pizza) }}</p>
        <button (click)="editPizza(pizza)">Editar</button>
        <button (click)="deletePizza(pizza.id)">Excluir</button>
      </div>
    </div>
  </div>
</div>