.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .create-pizza, .edit-pizza, .pizza-list {
      margin: 20px 0;
      width: 80%;
    }
  
    input, button {
      margin: 5px;
    }
  
    h3 {
      margin-top: 10px;
    }
  }