<div class="admin-container"> <!-- Contêiner principal da seção de administração -->
  <h1>Gerenciamento da Pizzaria</h1> <!-- Título da seção -->

  <div class="pizza-card"> <!-- Contêiner do formulário de criação/edição de pizza -->
    <h2>{{ isEditing ? 'Editar Pizza' : 'Criar Pizza' }}</h2> <!-- Título do formulário, muda conforme o estado de edição -->

    <!-- Formulário de criação/edição da pizza -->
    <form (ngSubmit)="onSubmit()" #pizzaForm="ngForm">
      <div>
        <label for="name">Nome da Pizza</label> <!-- Rótulo para o campo de nome da pizza -->
        <input type="text" id="name" [(ngModel)]="newPizza.name" name="name" placeholder="Digite o nome da pizza" required> <!-- Campo de entrada para o nome da pizza -->
      </div>
      <div>
        <label for="ingredients">Ingredientes</label> <!-- Rótulo para o campo de ingredientes -->
        <select id="ingredients" [(ngModel)]="selectedIngredient" name="selectedIngredient" (change)="addIngredient()"> <!-- Dropdown para selecionar ingredientes -->
          <option *ngFor="let ingredient of ingredients" [value]="ingredient.name" [disabled]="isIngredientSelected(ingredient)"> <!-- Itera sobre os ingredientes e desabilita os já selecionados -->
            {{ ingredient.name }} <!-- Nome do ingrediente -->
          </option>
        </select>
      </div>

      <div class="selected-ingredients"> <!-- Contêiner para os ingredientes selecionados -->
        <h3>Ingredientes Selecionados:</h3> <!-- Título da lista de ingredientes selecionados -->
        <div class="ingredients-list"> <!-- Lista de ingredientes selecionados -->
          <span *ngFor="let ingredient of newPizza.ingredients"> <!-- Itera sobre os ingredientes selecionados -->
            {{ getIngredientName(ingredient.id) }} <!-- Nome do ingrediente -->
            <!-- Botão para remover o ingrediente, chama a função removeIngredient -->
            <button type="button" (click)="removeIngredient(ingredient.id)">X</button>
          </span>
        </div>
      </div>
      <button type="submit">{{ isEditing ? 'Atualizar' : 'Criar' }} Pizza</button> <!-- Botão para enviar o formulário, muda conforme o estado de edição -->

      <button *ngIf="isEditing" type="button" (click)="deletePizza(newPizza.id)">Apagar essa Pizza</button> <!-- Botão para apagar a pizza, visível apenas no modo de edição -->
    </form>
  </div>

  <div class="pizza-cards-container"> <!-- Contêiner para os cards de pizza -->
    <div class="pizza-card" *ngFor="let pizza of pizzas"> <!-- Itera sobre as pizzas e cria um card para cada uma -->
      <img src="https://img.freepik.com/vetores-gratis/cute-pizza-super-hero-vector-de-desenho-animado-icon-ilustracao-de-comida-icon-de-ferias-vector-plano-isolado_138676-12786.jpg" alt="Imagem da Pizza" class="pizza-card__image"> <!-- Imagem da pizza -->
      <div class="pizza-card__content"> <!-- Conteúdo do card da pizza -->
        <h3 class="pizza-card__name">{{ pizza.name }}</h3> <!-- Nome da pizza -->
        <p class="pizza-card__ingredients">{{ getIngredientsList(pizza) }}</p> <!-- Lista de ingredientes da pizza -->
        <button (click)="editPizza(pizza)">Editar</button> <!-- Botão para editar a pizza -->
        <button (click)="deletePizza(pizza.id)">Excluir</button> <!-- Botão para excluir a pizza -->
      </div>
    </div>
  </div>
</div>