<div class="admin-container">
  <h1>Gerenciamento da Pizzaria</h1>

  <div class="flex-container">
    <!-- Formulário de criação/edição de pizza -->
    <div class="pizza-card">
      <h2>{{ isEditing ? "Editar Pizza" : "Criar Pizza" }}</h2>
      <form (ngSubmit)="onSubmit()">
        <!-- Nome da Pizza -->
        <div>
          <label for="name">Nome da Pizza</label>
          <input
            type="text"
            id="name"
            [(ngModel)]="newPizza.name"
            name="name"
            placeholder="Digite o nome da pizza"
            required
          />
        </div>

        <!-- Ingredientes Selecionados -->
        <div class="selected-ingredients">
          <h3>Ingredientes Selecionados:</h3>
          <div class="ingredients-list">
            <span *ngFor="let ingredient of newPizza.ingredients">
              {{ getIngredientName(ingredient.id) }}
              <button type="button" (click)="removeIngredient(ingredient.id)">
                X
              </button>
            </span>
          </div>
        </div>

        <!-- Botões de ação -->
        <button type="submit">
          {{ isEditing ? "Atualizar" : "Criar" }} Pizza
        </button>
        <button
          *ngIf="isEditing"
          type="button"
          (click)="deletePizza(newPizza.id)"
        >
          Apagar essa Pizza
        </button>
      </form>
    </div>

    <!-- Gerenciamento de Estado -->
    <div class="todo-container">
      @if (ingredientStore.ingredients().length &&
      ingredientStore.ingredients(); as ingredients) {
      <h2>Ingredientes</h2>
      <div class="ingredients-stats">
        <span>Total de Ingredientes usados: {{ ingredientStore.ingredientsUsados() }}</span>
        <span>Total de Ingredientes não usados: {{ ingredientStore.ingredientsNaoUsados() }}</span>
      </div>
      <div class="ingredients-list">
        @for(ingredient of ingredients; track ingredient.id) {
        <div class="ingredient-item">
          <h3>{{ ingredient.name }}</h3>
          <p><strong>ID:</strong> {{ ingredient.id }}</p>
          <input
            type="checkbox"
            [checked]="ingredient.usado"
            (click)="handleIngredientClick(ingredient)"
          />
        </div>
        }
      </div>
      } @else if (ingredientStore.status() === 'loading') {
      <h2>Carregando...</h2>
      } @else if(ingredientStore.status() === 'error') {
      <h2>Erro ao carregar o Ingrediente</h2>
      }
    </div>
  </div>

  <!-- Lista de Pizzas -->
  <div class="pizza-cards-container">
    <div class="pizza-card" *ngFor="let pizza of pizzas">
      <img
        src="https://img.freepik.com/vetores-gratis/cute-pizza-super-hero-vector-de-desenho-animado-icon-ilustracao-de-comida-icon-de-ferias-vector-plano-isolado_138676-12786.jpg"
        alt="Imagem da Pizza"
        class="pizza-card__image"
      />
      <div class="pizza-card__content">
        <h3 class="pizza-card__name">{{ pizza.name }}</h3>
        <p class="pizza-card__ingredients">
          {{ getIngredientsList(pizza) }}
        </p>
        <button (click)="editPizza(pizza)">Editar</button>
        <button (click)="deletePizza(pizza.id)">Excluir</button>
      </div>
    </div>
  </div>
</div>